@use "../base/variable" as *;
@use "../base/font" as *;


.separation{
    &__img{
        background-color: $Purple-500;
        padding: $FontSize/10;
        border-radius: $FontSize;
        position: relative;
        top: -1.5em;
        bottom: 0;
        right: 0;
        left: 8em;
    }

    &__hr{
        width: $FontSize*10;
        margin-top: $FontSize;
        border: none;
        background-color: $Grey-200;
        height: 2px;
    }
}

/* Version écran Desktop separation*/
@media (min-width: 1024px) {
    .separation{
        &__hr{
            width: $FontSize*20;
        }
        &__img{
            top: -3em;
            left: 40em;
            height: 5em;
            width: 5em;
            border-radius: $FontSize*2;
        }
    }
}