@use '../base/font' as *;
@use '../base/variable' as *;

.result{
    font-size: $FontSize*1.2;
    font-weight: 900;
    color: $Black;
    font-style: oblique;
    
    &__number{
        color: $Purple-500;
    }
}

/*Version Desktop result*/
@media (min-width: 1024px) {
    .result{
        font-size: $FontSize*2;
        margin: -0.7em 0 -0.7em 0;
    }
}