/*Primary*/
$Purple-500: hsl(259, 100%, 65%);
$Red-400: hsl(0, 100%, 67%);

/*Neutral*/
$White: hsl(0, 100%, 100%);
$Grey-100: hsl(0, 0%, 94%);
$Grey-200: hsl(0, 0%, 86%);
$Grey-500: hsl(0, 1%, 44%);
$Black: hsl(0, 0%, 0%);

/*Body copy*/
$FontSize: 2em;
$Width: 3em;
$height: 2em;